h1 {
  color: pink;
  font-size: 45px;
  font-family: cursive;
  border: 3px dotted turquoise;
  border-width: 5px;
}
h2 {
  color: turquoise;
  font-family: cursive;
  border: 3px dotted pink;
  border-width: 5px;

}
div img {
 display:block;
  margin:auto;
}
